body {
    margin: 0;
    font-family: "Prompt", sans-serif;
    color: white;
    background: #4b4b4b;
}

section {
    position: relative;
    display: block;
    flex-direction: column;
    text-align: center;
    padding: 100px 20%;
    height: 300px;
}

/* Section Classes */

.blue {
    background: #3045a3;
}

.red {
    background: #a33030;
    padding-top: 0;
    padding-bottom: 0;
}

.pink {
    background: #ad3d55;
}

.dark {
    background: #4b4b4b;
    padding-bottom: 800px;
}

/* Blob stuff */

.blob-motion {
    position: relative;
    transform: translate(0, -150px);
    z-index: 0;
}

.blob-text {
    background-color: transparent;
    z-index: 2;
    transform: translate(0, -1100px);
    position: relative;
}

/* Stuff for the Waves */

.spacer {
    aspect-ratio: 300/50;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}