body {
            margin: 0;
            font-family: "Prompt", sans-serif;
            color: white;
            background: #4b4b4b;
        }

        section {
            position: relative;
            display: block;
            flex-direction: column;
            text-align: center;
            padding: 100px 20vw;
            height: 300px;
        }

        .blue {
            background: #3045a3;
        }

        .red {
            background: #a33030;
            padding-top: 0;
            padding-bottom: 0;
        }

        .pink {
            background: #ad3d55;
        }

        .dark {
            background: #4b4b4b;
            padding-bottom: 400px;
        }

        .blob-motion {
            position: relative;
            transform: translate(0, -240px);
            height: 750px;
            width: 950px;
            z-index: 0;
        }

        .blob-text {
            background-color: transparent;
            z-index: 2;
            transform: translate(0, -800px);
            position: relative;
        }

        .spacer {
            aspect-ratio: 300/50;
            width: 100%;
            height: 200px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .wave-bottom {
            transform: translate(0, 2000px) rotate(180deg);
        }
